<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Storing Data (Need)</span></div>

In [1]:
import numpy as np

# What to expect in this chapter

# 1 Lists, Arrays & Dictionaries

## 1.1 Let’s compare

In [2]:
py_super_names = ['Black Widow', 'Iron Man', 'Doctor Strange']
py_real_names = ['Natasha Romanoff', 'Tony Stark', 'Stephen Strange']

np_super_names = np.array(py_super_names)
np_real_names = np.array(py_real_names)

superhero_info = {
    'Natasha Romanoff': 'Black Widow',
    'Tony Stark': 'Iron Man',
    'Stephen Strange': 'Doctor Strange'
}

## 1.2 Accessing data from a list (or array)

In [4]:
py_super_names[0]

'Black Widow'

In [ ]:
py_super_names[2]

'Doctor Strange'

In [6]:
py_super_names[-1] #negative numbers count from the back, making it easy to access elements from the back of the list

'Doctor Strange'

In [7]:
x=1
py_super_names[x] #now can just change x to easily find the value

'Iron Man'

## 1.3 Accessing data from a dictionary

In [8]:
superhero_info['Natasha Romanoff'] #use the dictionary to access the value using the key

'Black Widow'

In [11]:
superhero_info.keys()

dict_keys(['Natasha Romanoff', 'Tony Stark', 'Stephen Strange'])

In [10]:
superhero_info.values()

dict_values(['Black Widow', 'Iron Man', 'Doctor Strange'])

## 1.4 Higher dimensional lists

In [12]:
py_superhero_info = [['Natasha Romanoff', 'Black Widow'],
                     ['Tony Stark', 'Iron Man'],
                     ['Stephen Strange', 'Doctor Strange']]

In [14]:
py_superhero_info[2][1] #accessing the element on row 2 col 1

'Doctor Strange'

# 2 Lists vs. Arrays

## 2.1 Size

In [2]:
py_list_2d = [[1,'A'],[2,'B'],[3,'C'],[4,'D'],
              [5,'E'],[6,'F'],[7,'G'],[8,'H'],
              [9,'I'],[10,'J']]

np_array_2d = np.array(py_list_2d)

In [22]:
len(py_list_2d)

10

In [24]:
len(np_array_2d)

10

In [25]:
np_array_2d.shape

(10, 2)

## 2.2 Arrays are fussy about type

In [3]:
py_list = [1, 1.5, 'A']
np_array = np.array(py_list)

In [6]:
py_list
np_array

array(['1', '1.5', 'A'], dtype='<U32')

In [ ]:
print('HI')

## 2.3 Adding a number

In [18]:
py_list = [1,2,3,4,5]
np_array = np.array(py_list)

In [3]:
np_array + 10

array([11, 12, 13, 14, 15])

In [4]:
py_list + 10

TypeError: can only concatenate list (not "int") to list

## 2.4 Adding another list

In [5]:
py_list_2 = [10,20,30,40,50]

np_array_2 = np.array(py_list_2)

In [9]:
py_list + py_list_2

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [10]:
np_array + np_array_2

array([11, 22, 33, 44, 55])

## 2.5 Multiplying by a Number

In [11]:
py_list*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
np_array*2

array([ 2,  4,  6,  8, 10])

## 2.6 Squaring

In [13]:
py_list**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [14]:
np_array**2

array([ 1,  4,  9, 16, 25])

## 2.7 Asking questions

In [19]:
py_list == 3
#checks if the list is equal to the integer 3, which will always be false

False

In [20]:
py_list > 3

TypeError: '>' not supported between instances of 'list' and 'int'

In [21]:
np_array == 3

array([False, False,  True, False, False])

In [22]:
np_array > 3

array([False, False, False,  True,  True])

## 2.8 Mathematics

In [23]:
sum(py_list)

15

In [24]:
max(py_list)

5

In [26]:
min(py_list)

1

In [27]:
np_array.sum()

np.int64(15)

In [28]:
np_array.max()

np.int64(5)

In [29]:
np_array.min()

np.int64(1)

In [30]:
np_array.mean()

np.float64(3.0)

In [32]:
np_array.std()

np.float64(1.4142135623730951)

## Footnotes